img { border : 0; }

.teamtable {
  border:1px solid #ABAB9E;
  border-width: 1px 0 0 0;
width : 100%;
  background:#ABAB9E;
  margin-bottom:8px;
}


.teamtable_nosort {
	border:1px solid #ABAB9E;
	border-width: 1px 0 0 0;
	width : 100%;
	background:#ABAB9E;
	margin-bottom:8px;
	}


.teamtable tbody tr.last td {
  border-bottom:1px solid #ABAB9E;
}


.teamtable_nosort tr td {
	vertical-align : top;
	}	


.teamtable tr th, .teamtable_nosort tr th {
  font		: bold 10px Verdana;
  border-bottom:1px solid #ABAB9E;
  border-right:1px solid #ABAB9E;
  color		:#222;
  vertical-align:bottom;
	}

.teamtable tfoot tr td	{
	background: gray;
	}



.teamtable th {
  background:#D8D9D5;
}

.teamtable_nosort th {
  background:#D8D9D5;
}



.teamtable td {background : white; font-size : 8pt; }
.teamtable_nosort td {background : white; font-size : 8pt; }


.dialog {
	width : 600px
	background : gainsboro;
	vertical-align: top;
	font-size: 9pt;
	}




.caption {
	background : gainsboro;
	width : 300px;
	font-size: 9pt;
	}
	
.caption td {
	vertical-align: top;
	font-size: 9pt;
	}

/* main version of nav */
td.navtop  {
	background		: darkgray;
	Font-Family 	: arial, helvetica, sans-serif;
	Font-Size 		: 0.7em;
	border-left		: solid 1px white;
	text-align 		: center;
	Color 			: snow;
	padding			: 4px;
	text-transform	: uppercase;
	height			: 50px;
}

/* not in focus but hover */	
td.navtophover	{
	Font-Family 	: arial, helvetica, sans-serif;
	background		: dodgerblue;
	font-size 		: 0.7em;
	border-left		: solid 1px white;
	text-align 		: center;
	cursor			: hand;
	Color 			: black;
	padding			: 4px;
	text-transform	: uppercase;
	}

td.navtopfocus  {
	Font-Family 	: arial, helvetica, sans-serif;
	background		: dodgerblue;
	border-bottom	: solid 4px darkblue;
	border-left		: solid 1px white; 
	font-size 		: 0.7em;
	text-align 		: center;
	cursor			: hand;
	Color 			: black;
	padding			: 4px;
	text-transform	: uppercase;
	}


	
td.navtoplogout		{
	Font-Family 	: arial, helvetica, sans-serif;
	background		: lightpink;
	border-left		: solid 1px white;
	font-size 		: 0.7em;
	text-align 		: center;
	cursor			: hand;
	Color 			: black;
	padding			: 4px;
	text-transform	: uppercase;
	}
	
	
/* alt version of nav */
td.navalttop  {
	background		: DarkSeaGreen;
	Font-Family 	: arial, helvetica, sans-serif;
	Font-Size 		: 0.7em;
	border-left		: solid 1px white;
	text-align 		: center;
	Color 			: snow;
	padding			: 2px;
	text-transform	: uppercase;
	height			: 50px;
}

		
		
tr.odd td {
	border-bottom : solid 1px gainsboro;
	
	}		
	
	