.row:before, .row:after {
    display: table;
    content: "";
  }
  .row:after {
    clear: both;
  }

[class*="span"] {
float: left;
margin-left: 30px;
}

.span1 {
width: 70px;
}
  
.span2 {
width: 170px;
} 

.span5 {
width: 470px;
}

/* Above is for bootstrap */

.body {
	font-family: verdana;
	font-size: 12px;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
}
.title {
	font-family: verdana;
	font-size: 24px;
	font-weight: normal;
	color: #990000;
	text-decoration: none;
}
.textlinks {
	font-family: verdana;
	font-size: 11px;
	color: #333333;
	text-decoration: none;
}


.dialog	{
	background : gainsboro;
	background-image: url(stdtile.png);
	}
	
	
.dialog thead, .dialog th	{
	text-align : left;
	background : gray;
	}	
	
em { font-family 	: serif; 
	color 			: red; 
	font-weight 	: normal; 
	text-transform	: lowercase;
	}

p.message {
	background : cornsilk;
	border 		: solid 1px palegoldenrod;
	font-family	:'trebuchet ms',helvetica,sans-serif;
   	font-size	: 9pt;
	width 		: 500px;
	padding		: 7px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	}

p.error {
	background : misty rose;
	background : url(diagonals.png);
	border 		: solid 1px tomato;
	font-family:'trebuchet ms',helvetica,sans-serif;
   	font-size	: 10pt;
	padding		: 10px;
	width : 500px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	}
	

.news a {
	font-family: verdana;
	font-size: 10px;
	font-weight: bolder;
	color: #990000;
	text-decoration: none;
	}
	
.news a:hover {	
	text-decoration: underline;
	
	}
	
.postmetadata {
	text-align: right;
	padding-bottom: 20px;
	margin-top: 5px;
	padding-top: 5px;
	border-top: 1px solid #454C67;
	clear: both;
	}	
	
	
td	{
	vertical-align: top;
	font-size : 10pt;	
	}
	
	
.menu td	{
	vertical-align: middle;
	font-size : 9pt;	
	}		
	
	
h1	{
	Font-size: 3em;
	Letter-spacing: -0.05em;
	Text-shadow: 3px 3px 3px #cccccc;
	}	
	
h2	{
	Font-size: 1.5em;
	Border-bottom: 2px solid dimgray;
	color : dimgray;
	}
	
h2 a {
	color: #36769C;
	text-decoration: none;
	}	
	
h3	{
	}	
			
	
	
h5	{
	font-size : 10pt;
	border-bottom: 1px solid dodgerblue;
	margin-bottom: 0;
	}	
	
h6	{
	font-size : 8pt;
	font-weight : normal;
	margin-top: 0;
	text-align : right;		
	}	
	
input	{
	font-size : 1.2em;
	}
	
textarea	{
	font-size : 1.2em;
	font-family	:'trebuchet ms',helvetica,sans-serif;
	}		
	
input.poster	{
	display : none;
	}	
	
	
button.big	{
	height : 50px; 
	
	font-size : 16pt;
	}	
	